body,
ul {
    padding: 0;
    margin: 0;

}

li {
    list-style: none;
}

#content {

    max-width: 1000px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    background: green;
    flex-wrap: wrap;
}

header ul {
    display: flex;
    flex-wrap: wrap;


}

header ul a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;

}

header img {
    width: 70px;
    height: 50px;
}